<!-- user_frontpage.html -->
{% extends 'user_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="user-greeting mb-4">
                    <h2 class="text-center">Welcome, {{ user.name }}!</h2>
                </div>
                <div class="user-details">
                    <p><strong>Username:</strong> {{ user.username }}</p>
                    <p><strong>Your Posted Recipes:</strong></p>
                    <ul class="recipe-list">
                        {% for recipe in user.recipes %}
                            <li><a href="{{ url_for('recipe', recipe_id=recipe.id) }}">{{ recipe.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

